.Header.RowHeader {
    padding: 1px 0.4em 1px calc(var(--tile-size) * 1.2);
    text-align: right;
    vertical-align: middle;
    border-right: var(--tile-border);
}

.Header.RowHeader::before {
    left: 0;
    top: 0;
    bottom: 0;
}