.Header.RowHeader {
    padding: 1px 0.4rem 1px calc(var(--tile-size) + 3px);
    text-align: right;
    vertical-align: middle;
    border-right: var(--tile-border);
}

.Header.RowHeader::before {
    left: 0;
    top: 0;
    bottom: 0;
}

/* TODO: Assign a proper name / component for the number picker */
.Header.RowHeader > div {
    line-height: calc(1.65rem + 3px);
    margin: -1px -0.4rem -1px 0;
    padding: 0 0.4rem 0 0;
}