.Footer {
    opacity: 0.08;
    cursor: pointer;
    padding: 0;
}

.Footer:hover {
    opacity: 1;
}

/* add new control (plus) */
.Footer:after {
    content: "+";
    display: block;
    width: calc(1.65em + 2px);
    height: calc(1.65em + 2px);
    position: absolute;
    box-sizing: border-box;
    background-color: transparent;
    color: #000000;
    text-align: center;
    line-height: calc(1.65em + 2px);
    border-radius: calc(1.65em / 2);
    pointer-events: all;
}

.Footer:hover:after {
    background-color: #4da3ff;
    color: #ffffff;
}