.Header {
    transition: background-color 50ms;
    cursor: pointer;
    font-family: monospace;
    font-weight: normal;
}

.Header:hover {
    transition: background-color 0ms;
    background-color: #fff6af;
}