.Puzzle {
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 14px;
    font-weight: normal;
    position: relative;
    --tile-size: 28px; /* TODO: Fix the cross-browser issues encountered when using relative units here */
    --tile-border: 1px solid #eeeeee;
    --tile-border-guide: 1px solid #bbbbbb;
}

.Puzzle.solved {
    box-shadow: 0 0 40px 10px rgba(0,150,0,0.15);
}

.Puzzle.unsolvable{
    box-shadow: 0 0 30px 0 rgba(177, 5, 5, 0.6);
}

.Puzzle tr {
    position: relative;
    /* hack to fix absolute positions of table children in Chrome */
    transform: scale(1);
}