.Puzzle {
    margin: 0 auto;
    border-collapse: collapse;
    font-size: 14px;
    font-weight: normal;
    position: relative;
}

.Puzzle.solved {
    box-shadow: 0 0 40px 10px rgba(0,150,0,0.15);
}

.Puzzle.unsolvable{
    box-shadow: 0 0 30px 0 rgba(177, 5, 5, 0.6);
}

.Puzzle tr {
    position: relative;
    /* hack to fix absolute positions of table children */
    transform: scale(1);
}