.Footer.ColFooter {
    position: relative;
    bottom: -1px;
    height: 1px;
    overflow: visible;
}

.Footer.ColFooter:hover {
    display: block;
    height: calc(((1.65em + 3px) * 10) + (1.65em + 6px));
    border-left: 1px solid #4da3ff;
}

.Footer.ColFooter::after {
    bottom: 0;
    left: calc((1.65em / -2) - 2px);
}

/* TODO: Create a new ColFooterRow component class (maybe better named than that) */
.Puzzle tr.colfooter-row {
    height: calc(1.65em + 7px);
    pointer-events: none;
}
.Puzzle tr.colfooter-row:hover {
    transform: translateY(calc((1.65em + 3px) * -10));
}