.Footer.ColFooter {
    position: absolute;
    overflow: visible;
    width: calc(var(--tile-size) + 3px);
    height: calc(var(--tile-size) + 2px);
    left: calc(var(--column) * (var(--tile-size) + 3px));
    bottom: 0;
}

.Footer.ColFooter:hover {
    display: block;
    height: 100%;
    border-left: 1px solid #4da3ff;
}

.Footer.ColFooter::after {
    bottom: 0;
    left: calc((var(--tile-size) / -2) - 2px);
}

/* TODO: Create a new ColFooterRow component class (maybe better named than that) */
.Puzzle tr.colfooter-row {
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    height: calc(var(--tile-size) + 3px);
}
.Puzzle tr.colfooter-row:hover {
    height: auto;
    top: 0;
}

.Puzzle tr.colfooter-row th {
    display: none;
}