.Puzzle tfoot {
    position: absolute;
    right: calc(-3px - var(--tile-size));
    bottom: calc(-6px - var(--tile-size));
    width: calc((var(--tile-size) + 3px) * (var(--number-of-cols) + 1));
    top: 0;
    pointer-events: none;
}

.Footer.RowFooter {
    position: absolute;
    bottom: -1px;
    right: -6px;
    height: 1px;
}

.Footer.RowFooter:hover {
    left: var(--tile-size);
    border-bottom: 1px solid #4da3ff;
}

.Footer.RowFooter::after {
    right: calc(-1 * var(--tile-size));
    bottom: calc(var(--tile-size) / -2);
}