.Footer.RowFooter {
    position: absolute;
    bottom: -1px;
    right: -6px;
    height: 1px;
}

.Footer.RowFooter:hover {
    width: calc(((1.65em + 3px) * var(--number-of-cols)) + 7px);
    border-bottom: 1px solid #4da3ff;
}

.Footer.RowFooter::after {
    right: -1.65em;
    bottom: calc(1.65em / -2);
}